.main {
    background-color: black;

    height: 100vh;
    width: 100vw;
    color: var(--navy-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        text-align: center;
        font-weight: bolder;
        font-size: 54px;
        border-top: 5px solid var(--black-color);
        border-bottom: 5px solid var(--black-color);
        background-color: var(--cold-color);
        border-radius: 20px;
        padding: 10px 40px 10px 40px;
        margin-bottom: 2vh;
    }
}