<div class="main">
    <app-navigation></app-navigation>
    <div class="about_box">
        <div class="portrait box">
            <img [src]="portraitImg" alt="">
        </div>
        <div class="content">
            <h2>{{ title_about }}</h2>
            <div class="content_box box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem alias minima sint non. Molestias fugiat, pariatur unde dolorum beatae eaque ad quae eos voluptatem praesentium ipsum cum suscipit accusamus eum!</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem alias minima sint non. Molestias fugiat, pariatur unde dolorum beatae eaque ad quae eos voluptatem praesentium ipsum cum suscipit accusamus eum!</p>
            </div>
        </div>
    </div>
    <div class="toolkit_box">
        <h2>{{ title_toolkit }}</h2>
        <div class="item_box box">
            <div class="item">Python</div>
            <div class="item">Java</div>
            <div class="item">Angular</div>
            <div class="item">Python</div>
            <div class="item">Java</div>
            <div class="item">Angular</div>
            <div class="item">Python</div>
            <div class="item">Java</div>
            <div class="item">Angular</div>
        </div>
    </div>
</div>
