<div class="main">
    <h1>{{ title_text }}</h1>
    <div class="languages">
        <a (click)="onEng()"><img [src]=engImage alt="English" height="25"></a>
        <a (click)="onGer()"><img [src]=gerImage alt="German" height="25"></a>
    </div>
    <div class="nav">
        <ul>
        <li class="linked" routerLink="/about">{{ about_text }}</li>
        <li class="linked">{{ project_text }}</li>
        <li>{{ contact_text }}</li>
        </ul>
        <div class="connect">
        <div class="contact">
            <a id="link_picture" [href]=linkedIn><img [src]=linkedInImage alt='linkedin'></a>
            <a id="link_picture" [href]=xing><img [src]=xingImage alt='xing'></a>
            <a id="link_picture" [href]=gitHub><img [src]=gitHubImage alt='gitHub'></a>
        </div>
        </div>
    </div>
</div>
