.main {
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: cover;

    height: 100vh;
    width: 100vw;
    color: var(--navy-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        font-weight: bolder;
        font-size: 64px;
        border-top: 7.5px solid var(--black-color);
        border-bottom: 7.5px solid var(--black-color);
        background-color: var(--cold-color);
        border-radius: 20px;
        padding: 10px 40px 10px 40px;
        margin-bottom: 2vh;
    }
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;

    a img {
        margin: 0px 10px 0px 10px;
        height: 30px;
    }

    a img:hover {
        height: 40px;
    }
}

.nav {
    height: 25vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top: 2.5px solid var(--black-color);
    border-bottom: 2.5px solid var(--black-color);
    background-color: var(--cold-color);
    border-radius: 10px;
    padding: 5px 20px 5px 20px;

    a#link_picture img {
        background: transparent;
        border-radius: 10em;
        height: 50px;
    }

    a#link_picture img:hover {
        height: 75px;
    }

    ul li {
        list-style-type: none;
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 10px;
    }

    .linked:hover {
        font-size: 50px;
    }

    .connect .contact a {
        padding: 0px 10px 0px 10px;
    }
}

@media only screen and (max-width: 1000px) {
    .main {
        h1 {
            font-size: 32px;
        }
    }

    .nav {
        min-height: 150px;
        min-width: 300px;

        a#link_picture img {
            background: transparent;
            border-radius: 10em;
            height: 30px;
        }
    
        a#link_picture img:hover {
            height: 45px;
        }

        ul li {
            list-style-type: none;
            font-weight: bold;
            font-size: 25px;
            margin-bottom: 10px;
        }
    
        .linked:hover {
            font-size: 30px;
        }
    }
}