.main {
    height: 100vh;
    width: 100vw;
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ToDo: placing the box at the right spot */

.nav {
    margin-left: 25v;
    height: 50vh;
    width: 20vw;

    a#link_picture img {
        background: transparent;
        border-radius: 10em;
        height: 50px;
    }
}