<div class="main">
  <h1>Hello! I'm Jellef. 👋</h1>
  <div class="nav">
    <ul>
      <li class="linked">About me</li>
      <li class="linked">Projects</li>
      <li>Connect with me:</li>
    </ul>
    <div class="connect">
      <div class="contact">
        <a id="link_picture" [href]=linkedIn><img [src]=linkedInImage alt='linkedin'></a>
        <a id="link_picture" [href]=xing><img [src]=xingImage alt='xing'></a>
        <a id="link_picture" [href]=gitHub><img [src]=gitHubImage alt='gitHub'></a>
      </div>
    </div>
  </div>
</div>