* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden; 
}

.background_img {
    background-image: url(assets/programming_background.png);
}

:root {
    /* Blue Theme: https://colorhunt.co/palette/081f375fc9f32e79ba1e549f */
    --black-color: #081F37;
    --navy-color: #1E549F;
    --blue-color: #2E79BA;
    --cold-color: #5FC9F3;
}
